@import "tailwindcss";


@theme inline {
  --color-background: #FDF8EE;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #d9885b;
  --color-confirm: #27ae60;
  --color-danger: #eb5757;
  --color-light-gray: #949494;
  --color-dark-gray: #4f4f4f;
  --color-secondary: #a8d5e3;
}

body {
  background: var(--color-background);
  color: var(--color-dark-gray);
  
}
